.Munyyb {
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
.MunyybContainer {
  height: 100%;
  width: 100%;
  padding: 3vh;
  display: flex;
  justify-content: space-between;
}
.IntroAndLogoContainer {
}
.typicalTextAnimation {
  height: 100%;
  width: 100%;
}
.logoContainerStack {
  z-index: 2;
}
.NavigationContainer {
  z-index: 1;
}
.MatrixRainFallBackground {
}
