.Munyyb {
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
.MunyybContainer {
  height: 100%;
  width: 100%;
  padding: 3vh;
  display: flex;
  justify-content: space-between;
}
.IntroAndLogoContainer {
}
.typicalTextAnimation {
  height: 100%;
  width: 100%;
}
.Stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}
.Footer {
}
.NavigationContainer {
  z-index: 1;
}
.MatrixRainFallBackground {
}
.Pages {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
