.Navigation {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.Navigation_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}
.NavItems_container {
  list-style: none;
}
.NavItem {
  margin: 0.41667vw 0;
  line-height: 7.63889vw;
}
.Main_Nav {
  text-decoration: none;
}
.Nav_Heading_1 {
  color: var(--FONT-DIMMED-COLOR);
  font-size: 10vw;
  font-weight: 400;
}
.Nav_Heading_1:hover {
  color: var(--FONT-MAIN-COLOR);
}
