.Navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.NavItems_container {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.NavItem {
  height: 7.77778vw;
  margin: 0.41667vw 0;
  line-height: 7.63889vw;
}
.Main_Nav {
  text-decoration: none;
}
.Nav_Heading_1 {
  color: var(--FONT-DIMMED-COLOR);
  font-size: 10vw;
}
.Nav_Heading_1:hover {
  color: rgba(0, 255, 36, 1);
}
