.footerContainer {
  position: absolute;
  bottom: 0;
}
.footerList {
  display: inline;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.footerList li:last-child {
  margin-left: 1rem;
}
.listItems {
  opacity: 0.6;
  color: white;
  text-decoration: none;
}
.listItems p {
  font-size: 1.2vw;
}
.listItems:hover {
  opacity: 1;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .listItems p {
    font-size: 2vw;
  }
}
@media screen and (max-width: 400px) {
  .listItems p {
    font-size: 4vw;
  }
}
@media screen and (max-width: 250px) {
  .listItems p {
    font-size: 6vw;
  }
}
