.footerContainer {
  position: absolute;
  bottom: 0;
}
.footerList {
  display: inline;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.footerList li {
  margin-left: 1rem;
}
.listItems {
  opacity: 1;
}
.listItems p {
  font-size: 1vw;
  margin-left: 1vw;
}
.listItems:hover {
  opacity: 1;
}
