:root {
  --BG-COlOR: "#000000";
  --BG-DIMMED-COLOR: "#0C0C0C";
  --FONT-MAIN-COLOR: rgba(0, 255, 36, 1);
  --FONT-SECONDRY-COLOR: white;
  --FONT-DIMMED-COLOR: rgba(255, 255, 255, 0.4);
}

@font-face {
  font-family: "Monoska";
  src: url("../public/Fonts/Monoska.ttf");
  font-style: normal;
  font-display: block;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Monoska", sans-serif;
  color: white;
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
