.Header {
}
.LogoContainer {
  display: flex;
  flex-direction: row;
  width: 12rem;
}
.LogoImgContainer {
  width: 10vw;
}
.LogoImg {
  height: 2.5vw;
}
.LogoContainer h1 {
  font-size: 2.5vw;
  margin-left: 1rem;
  width: 10rem;
}
